#include <winresrc.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 24 "grubinst_gui.manifest"

1 VERSIONINFO
FILEVERSION     1,4,0,0
PRODUCTVERSION  1,4,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Bean & TinyBit & Steve6375"
      VALUE "FileDescription", "Grub4Dos installer"
      VALUE "FileVersion", "1.4"
      VALUE "InternalName", "grubinst_gui"
      VALUE "LegalCopyright", "(c)Bean & TinyBit & Steve6375"
      VALUE "OriginalFilename", "grubinst_gui.exe"
      VALUE "ProductName", "Grub4Dos installer"
      VALUE "ProductVersion", "1.4"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

ICO_MAIN ICON "grubinst.ico"

DLG_MAIN DIALOG DISCARDABLE  0, 0, 343, 306
STYLE DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Grub4Dos Installer"
FONT 9, "MS Sans Serif"
{
 GROUPBOX "Target device/Image file", IDC_GROUPBOX1, 8, 4, 328, 100, BS_GROUPBOX
 AUTORADIOBUTTON "Disk:", IDC_ISDISK, 24, 20, 40, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 COMBOBOX IDC_DISKS, 64, 20, 210, 200, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 PUSHBUTTON "Refresh", IDC_REFRESH_DISK, 282, 19, 38, 16
 AUTORADIOBUTTON "File:", IDC_ISFILE, 24, 40, 40, 12, BS_AUTORADIOBUTTON | WS_TABSTOP
 EDITTEXT IDC_FILENAME, 64, 40, 210, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE, 282, 39, 38, 16
 LTEXT "File system:", IDC_LFILESYSTEM, 24, 63, 64, 8, SS_LEFTNOWORDWRAP
 COMBOBOX IDC_FILESYSTEM, 64, 61, 59, 104, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 LTEXT "Partition:", IDC_LPART, 126, 63, 31, 8, SS_LEFTNOWORDWRAP
 COMBOBOX IDC_PARTS, 157, 61, 117, 72, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 AUTOCHECKBOX "PartMan", IDC_ORDER_PART, 282, 62, 44, 12
 LTEXT "Status:", IDC_LSTATUS, 24, 84, 40, 8, SS_LEFTNOWORDWRAP
 EDITTEXT IDC_STATUS, 64, 83, 210, 12, WS_BORDER | ES_READONLY
 COMBOBOX IDC_CHOOSEVER, 282, 83, 38, 72, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 
 GROUPBOX "Options [install mode]", IDC_GROUPBOX2, 8, 108, 328, 100, BS_GROUPBOX
 AUTOCHECKBOX "Verbose output", IDC_VERBOSE, 27, 122, 80, 12
 AUTOCHECKBOX "No backup MBR", IDC_NO_BACKUP_MBR, 139, 122, 88, 12
 AUTOCHECKBOX "Don't search floppy", IDC_DISABLE_FLOPPY, 251, 122, 80, 12
 AUTOCHECKBOX "Disable PrevMBR boot", IDC_DISABLE_OSBR, 27, 138, 88, 12
 AUTOCHECKBOX "Previous MBR first", IDC_PREVMBR_FIRST, 139, 138, 80, 12
 AUTOCHECKBOX "Lock the volume (to prevent the OS or other application writing/blocking the PBR)", IDC_LOCK, 27, 138, 300, 12, NOT WS_VISIBLE
 AUTOCHECKBOX "Unmount the volume (just in case the lock isn't enough)", IDC_UNMOUNT, 27, 154, 250, 12, NOT WS_VISIBLE
 AUTOCHECKBOX "Silent boot", IDC_SILENT, 251, 138, 80, 12
 AUTOCHECKBOX "Copy bpb of the 1st partition", IDC_COPY_BPB, 27, 154, 110, 12
 AUTOCHECKBOX "Skip MBR test", IDC_SKIP, 139, 154, 88, 12
 AUTOCHECKBOX "CHS no tune", IDC_CHS_NO_TUNE, 251, 154, 80, 12
 LTEXT "Timeout:", IDC_LTIMEOUT, 27, 174, 35, 8, SS_LEFTNOWORDWRAP
 EDITTEXT IDC_TIMEOUT, 62, 172, 27, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | ES_NUMBER
 LTEXT "Hotkey:", IDC_LHOTKEY, 100, 174, 39, 8, SS_LEFTNOWORDWRAP
 EDITTEXT IDC_HOTKEY, 139, 172, 58, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 LTEXT "Boot file:", IDC_LBOOTFILE, 214, 174, 38, 8, SS_LEFTNOWORDWRAP
 COMBOBOX IDC_BOOTFILE, 252, 172, 68, 48, CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
 LTEXT "Extra:", IDC_LEXTRA, 27, 190, 64, 8, SS_LEFTNOWORDWRAP
 EDITTEXT IDC_EXTRA, 62, 188, 258, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

 GROUPBOX "Save/Restore", IDC_GROUPBOX3, 8, 212, 328, 72, BS_GROUPBOX
 LTEXT "File:", IDC_LSAVEFILE, 27, 228, 35, 8, SS_LEFTNOWORDWRAP
 EDITTEXT IDC_SAVEFILE, 62, 226, 206, 12, WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BROWSE_SAVE, 276, 224, 38, 16
 AUTOCHECKBOX "Save current MBR to file", IDC_SAVEMBR, 27, 248, 120, 12
 AUTOCHECKBOX "Restore MBR from file", IDC_RESTOREMBR, 201, 248, 130, 12
 AUTOCHECKBOX "Restore the previous MBR", IDC_RESTORE_PREVMBR, 27, 264, 120, 12
 AUTOCHECKBOX "Save Grub4Dos MBR to file", IDC_OUTPUT, 201, 264, 130, 12

 PUSHBUTTON "Test", IDC_TEST, 46, 288, 50, 14
 PUSHBUTTON "Install", IDC_INSTALL, 146, 288, 50, 14
 PUSHBUTTON "Quit", IDC_QUIT, 246, 288, 50, 14
}

DLG_OUTPUT DIALOG DISCARDABLE  16, 33, 254, 182
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Output"
FONT 9, "Courier New"
{
 CONTROL "", IDC_RICHEDIT, "RichEdit20A", ES_MULTILINE | WS_TABSTOP | ES_READONLY | WS_VSCROLL, 5, 5, 244, 157
 DEFPUSHBUTTON "Close", IDC_CLOSE, 102, 165, 50, 14
}

STRINGTABLE
{
 IDS_MAIN, "Grub4Dos Installer"
 IDS_OUTPUT, "Output"
 IDS_NO_SAVEFILE, "No save file specified"
 IDS_NO_DISKNAME, "Disk name is empty"
 IDS_NO_FILENAME, "File name is empty"
 IDS_NO_DEVICETYPE, "Device type not selected"
 IDS_EXEC_ERROR, "Can't run the background program"
 IDS_INVALID_FILE, "Invalid input file"
 IDS_WHOLE_DISK, "Whole disk"
 IDS_NO_DEVICE, "Cannot use device name"
 IDS_INVALID_MBR, "Invalid partition table.\nIf you still want to install, use the Skip MBR test option."
 IDS_OSDRIVE, "This is the OS drive.\nAre you sure you want to install the Grub4Dos %s?"
 IDS_NO_GRUBINST, "Could not find grubinst.exe!"
 IDS_NO_RESTOREFILE, "No restore file specified"
 IDS_INSTALL, "Install"
 IDS_UPDATE, "Update"
 IDS_UNKNOWN, "Unknown"
 IDS_ENHANCED, "enhanced"
 IDS_INSTALLED, "installed"
 IDS_UNSUPPORTED, "unsupported"
 IDS_NOT_INSTALLED, "not installed"
 IDS_INSTALL_MODE, "install mode"
 IDS_EDIT_MODE, "edit mode"
 IDS_OPTIONS, "Options"
 IDS_BR_TO_FILE, "Save current %s to file"
 IDS_COPY_TO_FILE, "Copy backup MBR to file"
 IDS_BR_FROM_FILE, "Restore current %s from file"
 IDS_SAVE, "Save"
 IDS_COPY, "Copy"
 IDS_RESTORE, "Restore"
 IDS_ENHANCED_VERSION, "enhanced version"
 IDS_NORMAL_VERSION, "normal version"
 IDS_UNSUPPORTED_VERSION, "unsupported version"
 IDS_STARTING, "Starting"
 IDS_ERROR_CODE, "Error code"
 IDS_NO_RICHED20, "Could not load riched20.dll"
 IDS_RAW_DISK, "Raw disk image files"
 IDS_ALL_FILES, "All files"
 IDS_BIN_FILES, "BIN files"
 IDS_MBR_FILES, "MBR files"
 IDS_PBR_FILES, "PBR files"
 IDS_G4D_LOADER, "Grub4Dos loader"
 IDS_G2_LOADER, "Grub 2 loader"
 IDS_AUTODETECT, "AutoDetect"
 IDS_OBSOLETE_VERSION, "obsolete version"
}

